{% extends 'base.html' %}
{% block content %}
<h2>Register Admin2</h2>
<form method="POST">
    {% csrf_token %}
    <div class="mb-3">
        <label>Username:</label>
        <input type="text" class="form-control" name="username" required>
    </div>
    <div class="mb-3">
        <label>Email:</label>
        <input type="email" class="form-control" name="email" required>
    </div>
    <div class="mb-3">
        <label>Password:</label>
        <input type="password" class="form-control" name="password1" required>
    </div>
    <div class="mb-3">
        <label>Confirm Password:</label>
        <input type="password" class="form-control" name="password2" required>
    </div>
    <button type="submit" class="btn btn-warning">Register Admin2</button>
</form>

{% if error %}
    <p class="text-danger mt-2">{{ error }}</p>
{% endif %}
{% endblock %}
